extends ../structure

block head
  script(src='dev/node_modules/jquery/dist/jquery.min.js')
  link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
  link(href="css/style.css" rel="stylesheet")
  
block header
  head Vanilla Experiment

block content
  include ../partials/content